autom4te.cache
compile
config.h
config.log
config.status
config.h.in~
config.h.in
Makefile
Makefile.in
Makefile.in.in
ltmain.sh
intltool-*
aclocal.m4
configure
libdbf.pc
libdbf.spec
libtool
stamp-h1
src/.deps
src/.libs
po/POTFILES
po/stamp-it
po/de.gmo
*.la
*.lo
*.a
*.o
